<!doctype html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+US+Trad&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/main.css">
<title>{{title}}</title>

<body>
  <header>
      <div id="header-title">
          <h1 class="title">Dishbook</h1>
          {% if user.get_full_name %}
          <ul>
              <li>{{user.get_full_name}}</li>
              <li><a href="/profile/{{user.username}}">View Profile</a></li>
              <li><a href="/logout">Sign Out</a></li>
          </ul>
          {% else %}
          {% if request.path != '/login' %}
          <ul>
              <li><a href="/login?next={{request.get_full_path}}">Sign In</a></li>
          </ul>
          {% endif %}
          {% endif %}
      </div>

      <hr>

      <nav>
          <ul>
              <li><a href="/">Home</a></li>
          </ul>
        <form action="/s" method="get">
          <button style="padding:0.5rem">Search Recipes</button>
        </form>
      </nav>
  </header>