<!doctype html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+US+Trad&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/main.css">
<title>{{title}}</title>

<body>
  <header>
      <div id="header-title">
          <h1 class="title">Dishbook</h1>
          <ul>
              <li>Jane Doe</li>
              <li><a href="/profile/a">View Profile</a></li>
          </ul>
      </div>

      <hr>

      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/profile/a">My Cookbook</a><li>
          </ul>
        <form class="visually-hidden" action="/s?tag=" method="get">
          <input name="q" placeholder="Search recipes…" />
          <button>Search</button>
        </form>
      </nav>
  </header>