{% include "header.html" %}

  <main>
      <div class="stylized-section-cream">
          <h2 class="title-main">Sign in to Dishbook</h2>
          <nav id="login-screen">
            <form action="/login" method="post">
                <div>
                    <label class="login" for="username">Username: </label>
                    <input id="username" class="login-box" name="username" type="text"/>
                </div>

                <div>
                    <label class="login" for="password">Password: </label>
                    <input id="password" class="login-box" name="password" type="password"/>
                </div>

                    <input id="next" name="next" type="hidden" value="{{next}}">

                {% csrf_token %}

                    <button class="login" id="searchbar">Sign in</button>

            </form>
          </nav>
      </div>
  </main>
</body>
